/**/
html{background: #005182 !important;}
body{background: #005182 !important;}
ons-toolbar{background: #005182 !important;}
ons-toolbar .center{ color: white !important;}
ons-template{background: red !important;}
#home.html{background: red !important;}